@{
	Layout = "";
	var viewProperties = ViewData["PropertiesView"] as CustomViewModel;
}
<div class="modal fadeIn show" id="staticBackdrop" data-bs-backdrop="static" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title" id="staticBackdropLabel">@viewProperties.Title</h5>
				<button type="button" class="btn-close" onclick="CloseModal()" aria-label="@SharedTranslations["Cerrar"]"></button>
			</div>
			<div class="modal-body">
				<partial name="~/Views/Shared/_AlertError.cshtml" />
				<form id="@viewProperties.ControllerName@viewProperties.ActionName">
					<partial name="@viewProperties.PartialViewName" model="@ViewData.Model" />
				</form>
			</div>
			<div class="modal-footer bg-primary">
				<div class="col-sm-offset-2">
					<button type="button" class="btn btn-sm btn-secondary" onclick="CloseModal()">@SharedTranslations["Cerrar"]</button>
					@{
						if (@viewProperties.ActionName != "Details") {
							<input type="button" onclick="Submit('@viewProperties.ControllerName','@viewProperties.ActionName')" value="@SharedTranslations["Guardar"]" class="btn btn-sm btn-primary" />
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>