@model IEnumerable<RecursosViewModel>
<div class="table-responsive">
    <table id="@ViewData["ViewDataControllerName"]" class="table table-sm table-compact table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Id)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Pueblo)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Provincia)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Pais)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Notas)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Url)</th>
                <th>@Html.DisplayNameFor(model => model.RecursoModel.Tipo)</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>          
        </tfoot>
    </table>
</div>