@model IEnumerable<RecursoModel>
<div class="table-responsive">
    <table id="@ViewData["ViewDataControllerName"]" class="table table-sm table-compact table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.Pueblo)</th>
                <th>@Html.DisplayNameFor(model => model.Provincia)</th>
                <th>@Html.DisplayNameFor(model => model.Pais)</th>
                <th>@Html.DisplayNameFor(model => model.Observaciones)</th>
                <th>@Html.DisplayNameFor(model => model.Url)</th>
                <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>          
        </tfoot>
    </table>
</div>